<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480176992115-mv17uicmnt0afcj8oe23k9d5po3gmqlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480176992115-mv17uicmnt0afcj8oe23k9d5po3gmqlt</string>
	<key>API_KEY</key>
	<string>AIzaSyB6rsTvg5Q6h9N3iDhSLm0Mzr-FI584z7o</string>
	<key>GCM_SENDER_ID</key>
	<string>480176992115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chethan.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-309ac</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-309ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480176992115:ios:23a3bb16f4fe0eae341f06</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-309ac.firebaseio.com</string>
</dict>
</plist>